.divCard {
    padding: 50px;
    width: 600px;
}

.textoErros {
    font-weight: 900;
    color: #c0392b;
    }
    
.divErros {
    padding: 20px;
 }
    
.cardErros {
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-form-field.mat-for-field {
    width: 500px;
}